@font-face {
    font-family: 'Harriet Text Regular';
    font-style: normal;
    font-weight: normal;
    src: url('HARRIETTEXTREGULAR.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Harriet Text Italic';
    font-style: normal;
    font-weight: normal;
    src:url('HARRIETTEXTITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Harriet Text Light';
    font-style: normal;
    font-weight: normal;
    src:url('HARRIETTEXTLIGHT.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Harriet Text Light Italic';
    font-style: normal;
    font-weight: normal;
    src: url('HARRIETTEXTLIGHTITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Harriet Text Medium';
    font-style: normal;
    font-weight: normal;
    src:url('HARRIETTEXTMEDIUM.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Harriet Text Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('HARRIETTEXTMEDIUMITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Harriet Text Bold';
    font-style: normal;
    font-weight: normal;
    src: url('HARRIETTEXTBOLD.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Harriet Text Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('HARRIETTEXTBOLDITALIC.woff') format('woff');
    }


    